---
AccessModifierOffset: -2
IndentWidth: 4
ReflowComments: true
PointerAlignment: Left
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false
UseTab: Never
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
IncludeBlocks: Merge
Cpp11BracedListStyle: true


ColumnLimit: 200  # Setzt eine maximale Zeilenlänge (erhöhe bei Bedarf)
BinPackArguments: true  # Packt Funktionsargumente in eine Zeile
BinPackParameters: true  # Packt Funktionsparameter in eine Zeile
AllowShortBlocksOnASingleLine: true  # Erlaubt kleine Blöcke auf einer Zeile
AllowShortCaseLabelsOnASingleLine: true  # Erlaubt kurze Case-Labels auf einer Zeile
AllowShortFunctionsOnASingleLine: Inline  # Funktionen mit kurzer Implementierung auf eine Zeile packen
AllowShortIfStatementsOnASingleLine: true  # Erlaubt kurze If-Anweisungen auf einer Zeile
BreakBeforeBraces: Attach  # Klammern werden direkt nach dem Funktionskopf geöffnet
SpaceBeforeParens: ControlStatements  # Leerzeichen vor Klammern bei Kontrollstrukturen


AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

AlignTrailingComments: true
AlignEscapedNewlines: Left
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignAfterOpenBracket: Align
SortUsingDeclarations: true

BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

...
